<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'Includes/header.twig' %}
  </head>
  <body>
    <div class="container-fluid">
      {{ block('body') }}    
    </div>
  </body>
</html>
